[submodule "src/rapidjson"]
	path = src/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/lib/sj-lib-common"]
	path = src/lib/sj-lib-common
	url = https://github.com/justinmann/sj-lib-common.git
	branch = release-1.0
[submodule "src/lib/sj-lib-json"]
	path = src/lib/sj-lib-json
	url = https://github.com/justinmann/sj-lib-json.git
	branch = release-1.0
